<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFSplitterWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PDFSplitterWpf.Properties.Settings>
            <setting name="StartText" serializeAs="String">
                <value>This is to certify that</value>
            </setting>
            <setting name="EndText" serializeAs="String">
                <value>has completed</value>
            </setting>
        </PDFSplitterWpf.Properties.Settings>
    </userSettings>
</configuration>